$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$orange: #F38160;
$font-color: #403C39;
$font-color2: #949494;